@font-face {
    font-family: MaxPinJohn;
    src: url(../fonts/max_pinjohn_v2.ttf);
}

body {
    background: #111;
    font-weight: 300;
}

.berlin-background {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url('../img/bg_berlin.jpg');
    background-size: cover;
    background-position: center;
    text-rendering: optimizeLegibility;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.dresden-background {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url('../img/bg_dresden2.jpg');
    background-size: cover;
    background-position: center;
    text-rendering: optimizeLegibility;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.background:after {
    content: '';
    position: fixed;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    border: 1px solid rgba(255,255,255,.2);
}

.wrapper {
    display: none;
}

.thai {
    font-family: MaxPinJohn;
    font-size: 35px !important;
}

.large {
    font-size: 45px;
    font-weight: bold;
}

.top-right-corner {
    position: fixed;
    top: 20px;
    right: 20px;
}
.left-section {
    position: fixed;
    top: 63%;
    left: 10%;
    color: white;
    max-width: 22%;
    opacity: 0;
}

/* 1. Intro Keyframe
--------------------------------------- */
#intro {
    position: fixed;
    top: 48%;
    left: 10%;
    width: 80%;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}
.name {
    font-size: 35px;
    letter-spacing: 12px;
    line-height: 1.5;
    font-weight: 900;
}
.byline {
    font-size: 15px;
    letter-spacing: 4px;
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
}
.ampersand {
    font-family: "Adobe Caslon Pro", "brandon-grotesque";
    font-style: italic;
}
.bold {
    font-weight: bold;
}

/* 2. The Beginning Keyframe
--------------------------------------- */
#the-beginning {
    position: fixed;
    top: 48%;
    left: 10%;
    width: 80%;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

/* 2. Explosion/Images/Links Structure and Text
--------------------------------------- */
#explosion {
    position: fixed;
    top: 100%;
    width: 100%;
    height: 100%;
}
.explosion-byline,
.images-byline {
    position: fixed;
    top: 63%;
    left: 10%;
    color: white;
    max-width: 22%;
    opacity: 0;
}
.images-byline-2 {
    text-align: center;
    position: fixed;
    top: 93%;
    left: 25%;
    color: white;
    width: 50%;
    opacity: 0;
}


/* 3. First Time Starbuck
--------------------------------------- */
#first-time-starbuck {}

.starbuck-first-line {
    position: fixed;
    top: 40%;
    left: 10%;
    color: white;
    max-width: 40%;
    opacity: 0;
    font-size: 25px !important;
    letter-spacing: 4px;
    text-align: center;
    font-weight: 300;
}
.starbuck-second-line {
    position: fixed;
    top: 50%;
    left: 10%;
    color: white;
    max-width: 40%;
    opacity: 0;
    font-size: 15px;
    letter-spacing: 4px;
    text-align: center;
    font-weight: 300;
}
#starbuck {
    position: fixed;
    top: 50%;
    right: 5%;
    opacity: 0;
}

/* 4. First Time Impression Keyframe
--------------------------------------- */
#first-time-impression {
    position: fixed;
    top: 48%;
    left: 10%;
    width: 80%;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}
.impression-small-name {
    font-size: 14px;
    letter-spacing: 12px;
    line-height: 1.5;
    font-weight: 900;
}
.impression-big-name {
    font-size: 35px;
    letter-spacing: 12px;
    line-height: 1.5;
    font-weight: 900;
    opacity: 0;
}

/* 5. First Time Impression Keyframe
--------------------------------------- */
#time-passed {
    position: fixed;
    top: 30%;
    left: 10%;
    width: 50%;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}
.time-passed-small-name {
    font-size: 14px;
    letter-spacing: 12px;
    line-height: 1.5;
    font-weight: 900;
    opacity: 0;
}
.time-passed-big-name {
    font-size: 35px;
    letter-spacing: 12px;
    line-height: 1.5;
    font-weight: 900;
    opacity: 0;
}
#domExplosionList {
    position: fixed;
    width: 270px;
    top: 100%;
    right: 15%;
    opacity: 0;
}
.dom-explosion-item {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #fff;
}
.dei-1  { top: 0;   left: 0;  }
.dei-2  { top: 0;   left: 70px; }
.dei-3  { top: 0;   left: 140px; }
.dei-4  { top: 0;   left: 210px; }
.dei-5  { top: 70px;   left: 0;  }
.dei-6  { top: 70px;   left: 70px; }
.dei-7  { top: 70px;   left: 140px; }
.dei-8  { top: 70px;   left: 210px; }
.dei-9  { top: 140px;   left: 0;  }
.dei-10 { top: 140px;   left: 70px; }
.dei-11 { top: 140px;   left: 140px; }
.dei-12 { top: 140px;   left: 210px; }
.dei-13 { top: 210px;   left: 0;  }
.dei-14 { top: 210px;   left: 70px; }
.dei-15 { top: 210px;   left: 140px; }
.dei-16 { top: 210px;   left: 210px; }

/* 6. Closer Dresden Keyframe
--------------------------------------- */
#closer-dresden {
    position: fixed;
    top: 80%;
    left: 10%;
    width: 80%;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}
.closer-dresden-big-name {
    font-size: 35px;
    letter-spacing: 12px;
    line-height: 1.5;
    font-weight: 900;
}
.closer-dresden-small-name {
    font-size: 13px;
    letter-spacing: 12px;
    line-height: 1.5;
    font-weight: 900;
}

/* 7. In Love Dresden Keyframe
--------------------------------------- */
#inlove-dresden {
    position: fixed;
    top: 80%;
    left: 10%;
    width: 80%;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}
.inlove-dresden-small-name {
    font-size: 14px;
    letter-spacing: 12px;
    line-height: 1.5;
    font-weight: 900;
}
.inlove-dresden-big-name {
    font-size: 13px;
    letter-spacing: 12px;
    line-height: 1.5;
    font-weight: 900;
}
.inlove-bg-rose {
    top: 30%;
    left: 5%;   
}
.inlove-clear-rose1 {
    position: fixed;
    top: 50%;
    left: 30%;
    z-index: 990 
}
.inlove-clear-rose2 {
    position: fixed;
    top: 40%;
    left: 20%;
    z-index: 990 
}
.inlove-clear-rose3 {
    position: fixed;
    top: 50%;
    left: 10%;
    z-index: 990 
}
.inlove-clear-rose4 {
    position: fixed;
    top: 14%;
    left: 80%;
    z-index: 990 
}
.inlove-clear-rose5 {
    position: fixed;
    top: 80%;
    left: 90%;
    z-index: 990 
}
.inlove-clear-rose6 {
    position: fixed;
    top: 10%;
    left: 50%;
    z-index: 990 
}
.inlove-clear-rose7 {
    position: fixed;
    top: 85%;
    left: 90%;
    z-index: 990 
}
.inlove-clear-rose8 {
    position: fixed;
    top: 90%;
    left: 80%;
    z-index: 990 
}
.inlove-blur-rose1 {
    position: fixed;
    top: 60px;
    right: 10px;
    z-index: 1000
}
.inlove-blur-rose2 {
    position: fixed;
    top: 20px;
    left: 10px;
    z-index: 1000
}
.inlove-blur-rose3 {
    position: fixed;
    top: 50px;
    left: 80px;
    z-index: 1000
}
.inlove-blur-rose4 {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1000
}
.inlove-blur-rose5 {
    position: fixed;
    top: 55%;
    right: 10%;
    z-index: 1000
}

/* 8. Friend to Partner Keyframe
--------------------------------------- */
#frindtopartner {
    position: fixed;
    top: 50%;
    right: 0%;
    width: 80%;
    color: #fff;
    text-align: right;
    text-transform: uppercase;
}

.frindtopartner-small-name {
    font-size: 30px;
    letter-spacing: 5px;
    line-height: 1.5;
    font-weight: 900;
}

/* 9. Desert Keyframe
--------------------------------------- */
#desert {
    position: fixed;
    top: 50%;
    left: 3%;
    width: 80%;
    color: #fff;
    text-align: left;
    text-transform: uppercase;
}

.desert-small-name {
    font-size: 15px;
    letter-spacing: 12px;
    line-height: 1.5;
    font-weight: 900;
}

.desert-big-name {
    font-size: 20px;
    letter-spacing: 12px;
    line-height: 1.5;
    font-weight: 900;
    padding: 0;
    margin: 0;
}

/* 9. Images Keyframe
--------------------------------------- */
#images {
    position: fixed;
    top: 100%;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
}
.raw-page {
    position: fixed;
    width: 45%;
    border-radius: 6px;
    box-shadow: inset 0 0 1px rgba(255,255,255,.3);
    border: 1px solid rgba(0,0,0,.2);
    background-clip: padding-box;
}
#mediumHomepage {
    top: 100%;
    right: 5%;
}
.image-big-name {
   letter-spacing: 5px !important;
    line-height: 1.5 !important;
    font-weight: 900 !important; 
}
.iphone {
    position: fixed;
    right: 40%;
    top: 102%;
    width: 16%;
}
.iphone-frame {
    position: relative;
    width: 100%;
    height: auto;
    background-size: 100%;
    z-index: 2;
}
.iphone-viewport {
    width: 83.5%;
    height: 69.5%;
    position: absolute;
    top: 14%;
    left: 8%;
    overflow: hidden;
    background-color: #000;
}
.iphone-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
#medium-profile-iphone {
    z-index: 2;
}
#video-container {
    z-index: 2;
    margin-left: 10px;
    -ms-transform: rotate(90deg) !important; /* IE 9 */
    -webkit-transform: rotate(90deg) !important; /* Chrome, Opera 15+, Safari 3.1+ */
    -moz-transform: rotate(90deg) !important;
    transform: rotate(90deg) !important; /* Firefox 16+, IE 10+, Opera */
}
.marry-me {
    font-size: 20px;
    letter-spacing: 12px;
    line-height: 1.5;
    font-weight: 900;   
}

/* 4. Handling resize and small devices
--------------------------------------- */
.error {
    display: none;
    position: fixed;
    width: 80%;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    top: 30%;
    left: 10%;
}
.page-error .error {
    display: block;
}
.page-error .container {
    display: none;
}
@media all and (max-width: 1000px) {
    .container {
        display: none;
    }
    .error {
        display: block;
        font-size: 22px;
    }
}